In [47]:
import pandas as pd
df=pd.read_csv('./CSV/ipl-matches.csv')
df.nunique()
changed_name={'Delhi Daredevils':'Delhi Capitals','Kings XI Punjab':'Punjab Kings','Rising Pune Supergaints':'Rising Pune Supergaint'}
df=df.replace(changed_name.keys(),changed_name.values())
df=df.dropna(subset=['WinningTeam'])

teams=df.Team1.unique()
new_df=pd.DataFrame()
data=[]
for team in teams:
    played=df[(df.Team1==team)|(df.Team2==team)].shape[0]
    win=df[df.WinningTeam==team].shape[0]
    home_win=(df[(df.WinningTeam==team) & (df.Team1==team)].shape[0]/ df[df.Team1==team].shape[0])*100   
    away_win=(df[(df.WinningTeam==team) & (df.Team2==team)].shape[0]/df[df.Team2==team].shape[0])*100
    data.append([team,played,(win/played)*100,home_win,away_win])
new_df[['Team','Match played','Win','Home win','Away win']]=data
print(new_df)

                           Team  Match played        Win   Home win   Away win
0              Rajasthan Royals           190  50.526316  55.056180  46.534653
1   Royal Challengers Bangalore           223  48.878924  49.593496  48.000000
2           Sunrisers Hyderabad           152  49.342105  52.173913  46.987952
3                Delhi Capitals           222  46.396396  46.902655  45.871560
4           Chennai Super Kings           208  58.173077  58.558559  57.731959
5                Gujarat Titans            16  75.000000  57.142857  88.888889
6          Lucknow Super Giants            15  60.000000  87.500000  28.571429
7         Kolkata Knight Riders           223  51.121076  53.333333  49.152542
8                  Punjab Kings           218  46.330275  45.454545  47.222222
9                Mumbai Indians           231  56.709957  58.035714  55.462185
10       Rising Pune Supergiant            16  62.500000  71.428571  55.555556
11                Gujarat Lions            30  43.333333  31.250000  57.142857
12      Rising Pune Supergiants            14  35.714286  28.571429  42.857143
13                Pune Warriors            45  26.666667  26.086957  27.272727
14              Deccan Chargers            75  38.666667  33.333333  44.444444
15         Kochi Tuskers Kerala            14  42.857143  42.857143  42.857143

In [68]:
import pandas as pd
df=pd.read_csv('./CSV/ipl-matches.csv')
df=df.dropna(subset=['WinningTeam'])

teams=df.Team1.unique()
new_df=pd.DataFrame()
data=[]
for team in teams:
    t=df[(df.Team1==team) & (df.Season=='2022')]
    played=df[((df.Team1==team)|(df.Team2==team)) & (df.Season=='2022')].shape[0]
    win=df[(df.WinningTeam==team) & (df.Season=='2022')].shape[0]
    point=win * 2
    data.append([team,played,win,point])
new_df[['Team','Match played','Win','Points']]=data
print(new_df)

                           Team  Match played  Win  Points
0              Rajasthan Royals            17   10      20
1   Royal Challengers Bangalore            16    9      18
2           Sunrisers Hyderabad            14    6      12
3                Delhi Capitals            14    7      14
4           Chennai Super Kings            14    4       8
5                Gujarat Titans            16   12      24
6          Lucknow Super Giants            15    9      18
7         Kolkata Knight Riders            14    6      12
8                  Punjab Kings            14    7      14
9                Mumbai Indians            14    4       8
10              Kings XI Punjab             0    0       0
11             Delhi Daredevils             0    0       0
12       Rising Pune Supergiant             0    0       0
13                Gujarat Lions             0    0       0
14      Rising Pune Supergiants             0    0       0
15                Pune Warriors             0    0       0
16              Deccan Chargers             0    0       0
17         Kochi Tuskers Kerala             0    0       0

In [117]:
import pandas as pd
import numpy as np
df=pd.read_csv('./CSV/train.csv')
ch={0:'Died',1:'Survived'}
df['Survived']=df['Survived'].replace(ch.keys(),ch.values())

c_cabin=df['Cabin'].astype('str')
c_cabin=np.array([Cabin [0] for Cabin in c_cabin])
new_cabin=pd.Categorical(c_cabin)


new_cabin.describe()
df['Cabin']=new_cabin
df

df['Age']=df['Age'].fillna(df['Age'].mean())
bins=[0,12,18,30,50,100]
labels=['Child','Teenager','Young Adult','Adult','Senior']
df['AgeGroup']=pd.cut(df['Age'],bins=bins,labels=labels)
pd.crosstab(df['AgeGroup'],df['Sex'],df['Survived'])

ValueError: values cannot be used without an aggfunc.